<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bms</display-name>
  <servlet>
    <servlet-name>管理员登录</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>退出登录</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>添加学生</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.student.AddStudentServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>修改学生</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.student.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>删除学生</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.student.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>修改密码</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.manager.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>查询所有学生信息</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.student.QueryStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>显示查询图书界面</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.book.ShowQueryBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>添加图书</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.book.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>查看学生</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.student.ShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>查询图书</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.book.QueryBookSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>删除图书</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.book.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>修改图书信息</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.book.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>显示图书信息</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.book.ShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>新增借阅记录</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.borrow.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>查询学生</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.borrow.QueryStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>查询学生未归还信息</servlet-name>
    <servlet-class>com.valentinalee.bms.web.servlet.borrow.QueryStudentNoGiveBackServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>管理员登录</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>退出登录</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>添加学生</servlet-name>
    <url-pattern>/student/add.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>修改学生</servlet-name>
    <url-pattern>/student/update.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>删除学生</servlet-name>
    <url-pattern>/student/delete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>修改密码</servlet-name>
    <url-pattern>/manager/update.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>查询所有学生信息</servlet-name>
    <url-pattern>/student/query.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>显示查询图书界面</servlet-name>
    <url-pattern>/book/showQuery.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>添加图书</servlet-name>
    <url-pattern>/book/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>查看学生</servlet-name>
    <url-pattern>/student/show.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>查询图书</servlet-name>
    <url-pattern>/book/query.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>删除图书</servlet-name>
    <url-pattern>/book/delete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>修改图书信息</servlet-name>
    <url-pattern>/book/update.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>显示图书信息</servlet-name>
    <url-pattern>/book/show.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>新增借阅记录</servlet-name>
    <url-pattern>/borrow/add.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>查询学生</servlet-name>
    <url-pattern>/borrow/queryStudent.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>查询学生未归还信息</servlet-name>
    <url-pattern>/borrow/queryNoBack.do</url-pattern>
  </servlet-mapping>
  <listener>
  <description>web服务器监听</description>
  	<listener-class> com.valentinalee.bms.web.listener.ApplicationListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>